@model ChangePasswordViewModel
@{
	Layout = null; 
}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="~/css/style.css">
	<title>Change Password</title>
</head>

<body>

<div class="container mt-3">
<div class="row">
	<div class="col-12">
		<div class="bg-white p-4">
			<button class="btn btn-info btn-sm" onclick="history.back()">Geri</button>
			<h3>Şifreni Değiştir</h3>
			@if (ViewBag.Message != null)
			{
				<div class="alert alert-@ViewBag.AlertColor">@ViewBag.Message</div>
				<script>
					window.setTimeout(function(){
						window.location.href="/posts"
					}, 3000);
				</script>
			}
			<form asp-action="ChangePassword" method="post">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="mb-3">
					<label asp-for="CurrentPassword" class="form-label"></label>
					<input asp-for="CurrentPassword" class="form-control">
					<span asp-validation-for="CurrentPassword" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="NewPassword" class="form-label"></label>
					<input asp-for="NewPassword" class="form-control">
					<span asp-validation-for="NewPassword" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="NewPasswordConfirm" class="form-label"></label>
					<input asp-for="NewPasswordConfirm" class="form-control">
					<span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
				</div>
				<button type="submit" class="btn btn-primary">Değiştir</button>
			</form>
		</div>
	</div>
</div>

</div>

</body>
</html>